<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Matrimonio Alessandro ❤️ Larisa</li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li>2011 - ∞</li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>L’amore umano che si concretizza nel matrimonio deve costituire la pietra di un guado verso l’amore universale (Mahatma Gandhi)</p>
      </div>
    </div>

  </div>

</footer>